@media (max-width: 768px) {
    .toggler{
        display: block;
    }
    .nav__wrapp{
      position: relative;
        // position: fixed !important;
        // // top: 0;
        // left: 0;
        // width: 30%;
    }
    .btnnn{
        display: block;
        text-align: center;
        text-decoration: none;
        color: #4b3d2a;
        font-size: 20px;
        padding: 10px 33% 10px 33%;
        font-family: "Oswald";
    }
    .nav__list{
        height: 80vh;
        width: 100%;
        padding: 49px 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        flex-direction: column;
        background-color: #EFEEF4;
        align-items: flex-start;
        transform: translateX(-100%);
        transition: all .7s ease;
    }
    #menu__checkbox:checked + .nav__list{
      transform: translateX(0);
  }
  .vebb{
    width: 50px;
    height: 50px;

  }
  .btn{
    display: none;
  }
  .nav__iytem{
    padding: 20px 55% 20px 20px;
  }
  .about{
    padding: 20px 100% 20px 20px;
    margin: 0;
  }
  .nav__link{
    color: #4b3d2a;
    white-space: nowrap;
    // padding: 0px 150px 20px 20px;
      // margin-top: 20px; 
}
// nav end
// sss uz
.container{
  padding: 0px;
  align-items: center;
  // z-index: -1;
  .h6{
    white-space: nowrap;
      padding: 0px 0px 0 0 !important;
      font-size: 20px !important;
      a{
         
          font-size: 20px;
      }
  }
  .h5{
    padding: 0 0 5px 0;
      font-size: 20px;
  }
}
.wrapp{
  width: 100%;
}
  .containerr{
    padding: 70px;
    align-items: center;
    .h6{
      white-space: nowrap;
        padding: 80px 40px 0 0 !important;
        font-size: 20px !important;
        a{
           
            font-size: 20px;
        }
    }
    .h5{
      padding: 0 0 5px 0;
        font-size: 20px;
    }
  }
  .wrappp{
    // margin: 0 0 100px/
    width: 100%;
  }
  .nav__linkk{
    font-size: 20px;
  }
  .list{
    align-items: center;
    padding: 0px 0 0 0;
    margin: 0;
  }
  .listt{
    align-items: center;
    padding: 80px 0 0 0;
    margin: 0;
  }
// sss end
// bosh
  .bosh__list{
    flex-direction: column;
    padding: 0;
    margin: 0;

    h2{
        width: 350%;
        font-size: 30px;
        text-align: center;
    }
  }
  .slider{
    display: none;
    // width: 390px;
    // appearance: none;
  }
  // .slide img{
  //   width: 390px;
  //   padding: 0;
  //   margin: 0;
  // }
  // .navigation-manual{
  //    margin-top: 470px;
  //    margin-left: 120px;
  // }
  // .navigation-auto{
  //   margin-top: 470px;
  //   margin-left: 120px;
  // }
  // .manual-btn{
  //   &:not(:last-child){
  //       margin-right: 10px;
  //   }
  // }
  // .navigation-auto div{
  //   &:not(:last-child){
  //       margin-right: 10px;
  //   }
  // }

// bosh end
// hero
 .hero{
  width: 100%;
  height: 90vh;
  flex-direction: column;
  padding: 0;
  justify-content: start;
 }
 .content h2{
  width: 100%;
  font-size: 25px;
  padding: 80% 13% 0 ;
  // font-family: "Oswald";
 }
 .yangilik__container{
  width: 100%;
  padding: 0;
  margin: 0;
  // h2{
  //   padding: 0 !important;
  // }
 }
 .yangilik__list{
  // gap: 0;
  // column-gap: 20px;
  padding: 0;
  margin: 0;
 }
 .yangilik__iytem{
  width: 370px;
  padding: 0;
  margin: 0;
 }

//  }
 .yangilik__iytem img{
  // width: 350px;
  // height: 400px;
  // padding: 0;
  margin: 0;
 }
 .delete{
  display: none;
 }
//  }
// hero end
// bolim 
 .bolim__list{
  flex-wrap: wrap;
  img{
    width: 200px;
    height: 200px;
    // text-align: center;
    margin: 0 0 0 30px;
  }
  // gap: 0 ;
 }
// bolim end
 .kompaniya__list{
  flex-wrap: wrap;
 }
//  .kompaniya__iytem{
//   width: 50%;
//  }
 .text h2{
  padding: 20px;
 }
 .text h3{
  padding: 0 20px 20px;
 }
 .text p{
  padding: 20px;
 }
 .btnn{
  padding: 0;
  margin: 60px 0;
 }
//  pecheniya
 .pechenya__iytem{
  display: block;
 }
 .pechenya__iytem img{
  display: block;
  margin: 0 0 20px 0;
 }
// pecheniya end
// biz srt
 .biz__list img{
  width: 90%;
  height: 40%;
 }
 .biz__iytem h2{
  padding: 30px 0 0 0 ;
 }
 .biz__iytem h3{
  padding: 20px 30px;
 }
 .biz__iytem p{
  padding: 0 0 0 20%;
  // text-align: center;
  // justify-content: center;
  width: 80%;
 }
// biz end
// manzil
 .manzil__list{
  flex-direction: column-reverse;
 }
 .manzil__iytem{
  padding: 20px 0;
 }
 .manzil__iytem h3{
  padding: 0 20px;
 }
// manzil end
// ijtimoiytarmoq
 .ijtimoiytarmoq__list{
  flex-wrap: wrap;
  img{
    width: 70px;
    height: 70px;
  }
 }
// ijtimoiytarmoq end
// forloop
 .forlup__wrapp{
  flex-direction: column;
 }
 .forlup__list{
  padding: 0 0 0 30px;
 }
 .forlup__wrapp div h2{
  text-align: start;
  padding: 0 0 0 30px;
 }
 .ddd{
  margin: 0 0 0 30px !important;
 }
 .sss{
  padding: 0 0 0 30px !important;
 }
// forloop end
// yangilik
 .yangilik__container {
  h2{
    padding: 60px 20px 20px;
    font-size: 25px;
  }
 }
// yangilik end
 .qadoq__container{
  h3{
    padding: 70px 0 0 50px;
  }
  h2{
    font-size: 25px;
  }
 }
 .qadoq__iytem{
 width: 160px;
 height: 190px;
  img{
    width: 150px;
    height: 140px;
  }
  p{
    width: 140px;
    font-size: 9px;
  }
 }
//  kilo
 .kilo__container{
  h3{
    padding: 70px 0 0 60px;
  }
  h2{
    font-size: 25px;
  }
 }
 .kilo__iytem{
  img{
    width: 150px !important;
    height: 150px;
  }
  p{
    width: 150px;
    font-size: 10px;
  }
 }
// kilo end
// murojat
 .round{
  margin: 0 0 30px;
 }
// murojat end
// o nas
 .xaqimizda__list {
  h2{
    padding: 50px 0 40px ;
    font-size: 20px;
  }
  img{
    width: 90%;
    height: 40%;
  }
  p{
    font-size: 20px;
  }
 }
 .onas__container{
  text-align: center;
  .pap{
    padding: 20px;
  }
  img{
    width: 90%;
    height: 40%;
    margin: 0;
  }
 }
 .onas__iytem{
  flex-wrap: wrap;
  justify-content: center;
  h5{
    width: 85%;
    padding: 20px 0 20px 14%;
  }
  h6{
    // width: 75%;
    padding: 20px 10%;
  }
  h3{
    width: 85%;
    padding: 20px 0 20px 15%;
  }
  h4{
    width: 85%;
    padding: 20px 0 20px 15%;
  }
 }
// o nas end
// eksport
.eksport__list{
  .text{
    font-size: 25px;
  }
  p{
    font-size:  25px;
  }
}
 .eksport__iytem{
  img{
    width: 90%;
    height: 40%;
    margin: 30px 0;
  }
  h4{
    font-size: 10px;
    left: 55%;
    top: 43%;
  }
  h3{
    font-size: 10px;
    left: 25%;
    top: 60%;
  }
  h2{
    font-size: 10px;
    left: 22%;
    top: 58%;
  }
  h5{
    font-size: 10px;
    left: 52%;
    top: 76%;
  }
  h6{
    font-size: 10px;
    left: 26%;
    top: 80%;
  }
 }
// eksport end
// xalol
 .xalol__container{
  padding: 20px;
  img{
    width: 90%;
    height: 40%;
  }
 }
// xalol end
// aksiya
 .h2__list{
  padding: 50px 0;
 }
// aksiya end
// img hover
 .content__p{
  // width: 50px;
  padding: 0 0 20px 0;
 }
// img hover end
// ya elements
 .ya__wrapp{
  padding: 20px;
   h2{
    font-size: 12px;
   }
 }
 .ya__list{
  h3{
    font-size: 12px;
  }
 }
// ya elements end
.contenttt{
  width: 150px;
  height: 137px;
}
.content__p{
  font-size: 10px !important;
  padding: 15px 0;
}
.contenttti{
  width: 140px;
  height: 130px;
}
.content__pi{
 font-size:  10px !important;
  padding: 15px 0;
}
.uchun__list{
  padding: 0 20px;
}
}